# Database
DB_PASSWORD=change_me_production

# JWT
JWT_ACCESS_SECRET=change_me_min_32_chars_long_access_secret
JWT_REFRESH_SECRET=change_me_min_32_chars_long_refresh_secret
COOKIE_SECRET=change_me_cookie_secret_32_chars_min

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me_minio_secret

# MediaSoup
MEDIASOUP_ANNOUNCED_IP=1.2.3.4
MEDIASOUP_MIN_PORT=40000
MEDIASOUP_MAX_PORT=40100

# TURN
TURN_MIN_PORT=49200
TURN_MAX_PORT=49300
STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=turn:1.2.3.4:3478
TURN_USERNAME=voxrelay
TURN_PASSWORD=change_me_turn
TURN_SECRET=change_me_turn_secret

# Cors
CORS_ORIGIN=http://localhost:5173
